.blog-content {
  padding: 30px 0;

  h2 {
    font-size: 1.7rem;
    @media (min-width: 768px) {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
  p {
    &.date {
      font-family: $heading-font;
      font-weight: 500;
      color: rgb(154, 154, 154);
      font-style: italic;
      margin-top: 15px;
    }
  }
  &__body {
    p {
      margin-top: 25px;

      a {
        font-weight: bold;
        color: black;
      }
    }
  }
  button {
    margin-top: 35px;
    appearance: none;
    padding: 0;
    background: none;
    border: 0;
  }
  @media (min-width: 768px) {
    padding: 50px 0;
  }
}
